In [4]:
#import dependencies
import pandas as pd
import numpy
# import numpy as np
import seaborn as sns
import warnings
from geopy.geocoders import Nominatim #for going from loctaion to coordinates (lan/lon)
from geopy.exc import GeocoderTimedOut
import json

In [5]:
laws_victims_df = pd.read_csv('data.csv', encoding='latin-1')
laws_victims_df.head()

         state  laws  totalVictims
0      Arizona    11            19
1     Arkansas    11            15
2   California   104           245
3     Colorado    30           142
4  Connecticut    89            46

In [7]:
state=list(laws_victims_df['state'])

['Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Florida',
 'Georgia',
 'Hawaii',
 'Illinois',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Nebraska',
 'Nevada',
 'NewYork',
 'NorthCarolina',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'SouthCarolina',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Washington',
 'Wisconsin']

In [8]:
laws=list(laws_victims_df['laws'])

In [9]:
victims=list(laws_victims_df['totalVictims'])

In [10]:
laws

[11,
 11,
 104,
 30,
 89,
 21,
 6,
 78,
 64,
 25,
 7,
 7,
 12,
 64,
 100,
 21,
 41,
 5,
 7,
 22,
 15,
 75,
 30,
 16,
 9,
 35,
 36,
 12,
 22,
 18,
 11,
 13,
 43,
 23]

In [11]:
victims

[19,
 15,
 245,
 142,
 46,
 216,
 27,
 7,
 35,
 7,
 17,
 28,
 6,
 6,
 7,
 18,
 23,
 15,
 8,
 13,
 770,
 55,
 23,
 15,
 21,
 47,
 19,
 17,
 7,
 192,
 10,
 55,
 65,
 32]

In [17]:
laws=list(map(float, laws))

In [18]:
laws

[11.0,
 11.0,
 104.0,
 30.0,
 89.0,
 21.0,
 6.0,
 78.0,
 64.0,
 25.0,
 7.0,
 7.0,
 12.0,
 64.0,
 100.0,
 21.0,
 41.0,
 5.0,
 7.0,
 22.0,
 15.0,
 75.0,
 30.0,
 16.0,
 9.0,
 35.0,
 36.0,
 12.0,
 22.0,
 18.0,
 11.0,
 13.0,
 43.0,
 23.0]