In [1]:
import pandas as pd
import numpy as np
import warnings
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

# Data Cleaning

In [2]:
#reading the csv file into a dataframe 
shootings_df = pd.read_csv('usmassdata.csv', encoding='latin-1')
shootings_df.head()

,Case,Location,Date,Year,Summary,Fatalities,Injured,Total victims,Venue,Prior signs of mental health issues,...,Where obtained,Type of weapons,Weapon details,Race,Gender,Sources,Mental Health Sources,latitude,longitude,Type
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,TBD,semiautomatic rifle; shotgun,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,NaN,NaN,Mass
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,A Florida pawn shop,semiautomatic rifle,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,NaN,NaN,Mass
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,TBD,semiautomatic rifle and semiautomatic handgun,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,NaN,NaN,Mass
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,TBD,semiautomatic rifles,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,NaN,NaN,Spree
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Purchased in April 2016 from an Academy Sports...,semiautomatic rifle,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,32.780105,-96.800008,Mass

In [3]:
#testing for Geopy to retrieve (latitude , longitude) based on the "Location" field of the dataframe 
test_address = "Oakland, California"
geolocator = Nominatim()
try:
    location = geolocator.geocode(test_address)
    print((location.latitude, location.longitude))
except GeocoderTimedOut as e:
    print("Error: geocode failed on input %s with message %s"%(test_address, e.message))

(37.8044557, -122.2713563)

In [4]:
# Loop through the dataframe to check if the latitude is missing. 
# If the Latitue is a "NaN" then update the (Lat, Lon) data from Geopy
for index, row in shootings_df.iterrows():
        try:
            location = geolocator.geocode(row['Location'])
            shootings_df.loc[index, 'latitude']= location.latitude
            shootings_df.loc[index, 'longitude']= location.longitude
        except GeocoderTimedOut as e:
            print("Error: geocode failed on input %s with message %s"%(row['Location'], e.message))

In [5]:
# adding redults to another dataframe so that there is no confusion when referencing for Database creation 
# Geopy San Francisco Coordinates are incorrect, so we'll update it manually 
shootings_df.loc[83, 'longitude']= -122.41941550000001
shootings_df.loc[83, 'latitude']= 37.7749295
shootings_df.loc[8, 'longitude']= -122.41941550000001
shootings_df.loc[8, 'latitude']= 37.7749295
complete_shootings_df = shootings_df
complete_shootings_df[complete_shootings_df['Location'] == 'San Francisco, CA']

,Case,Location,Date,Year,Summary,Fatalities,Injured,Total victims,Venue,Prior signs of mental health issues,...,Where obtained,Type of weapons,Weapon details,Race,Gender,Sources,Mental Health Sources,latitude,longitude,Type
8,San Francisco UPS shooting,"San Francisco, CA",6/14/17,2017,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,Workplace,Yes,...,Unclear; the firearm was stolen in Utah. A sec...,two handguns,MAC-10-style Ã’assault pistolÃ“; 30-round magazi...,Asian,M,http://www.nbcbayarea.com/news/local/Active-Sh...,http://www.ktvu.com/news/ktvu-local-news/26177...,37.774929,-122.419416,Mass

In [6]:
# list of all column headers
list(complete_shootings_df)

['Case',
 'Location',
 'Date',
 'Year',
 'Summary',
 'Fatalities',
 'Injured',
 'Total victims',
 'Venue',
 'Prior signs of mental health issues',
 'Mental health - details',
 'Weapons obtained legally',
 'Where obtained',
 'Type of weapons',
 'Weapon details',
 'Race',
 'Gender',
 'Sources',
 'Mental Health Sources',
 'latitude',
 'longitude',
 'Type']

In [7]:
#rename column headers so that there are no spaces

complete_shootings_df = complete_shootings_df.rename(columns={'Case': 'case', 
                                        'Location': 'location', 
                                        'Date': 'date', 
                                        'Year': 'year', 
                                        'Summary': 'summary', 
                                        'Fatalities': 'fatalities', 
                                        'Injured': 'injured', 
                                        'Total victims': 'total_victims', 
                                        'Venue': 'venue', 
                                        'Prior signs of mental health issues': 'prior_signs_mental_health', 
                                        'Mental health - details': 'mental_health', 
                                        'Weapons obtained legally': 'weapons_obtained_legally', 
                                        'Where obtained': 'where_obtained',
                                        'Type of weapons': 'type_weapon', 
                                        'Weapon details': 'weapon_details', 
                                        'Race': 'race', 
                                        'Gender': 'gender', 
                                        'Sources': 'sources', 
                                        'Mental Health Sources': 'mental_health_sources', 
                                        'Type': 'shooting_type'})

In [8]:
for col in complete_shootings_df.columns:
    try:
        str(complete_shootings_df[col].iloc[0])
        complete_shootings_df[col] = complete_shootings_df[col].apply(lambda x: x.replace('\r', ''))
    except:
        pass

In [9]:
complete_shootings_df['type_weapon'].values[13].replace('\r', '')

'semiautomatic handgun'

In [10]:
complete_shootings_df.head()

,case,location,date,year,summary,fatalities,injured,total_victims,venue,prior_signs_mental_health,...,where_obtained,type_weapon,weapon_details,race,gender,sources,mental_health_sources,latitude,longitude,shooting_type
0,Yountville veterans home shooting,"Yountville, CA",3/9/18,2018,"Army veteran Albert Cheung Wong, 36, stormed a...",3,0,3,Workplace,Yes,...,TBD,semiautomatic rifle; shotgun,NaN,Asian,M,https://www.cnn.com/2018/03/10/us/california-v...,https://www.cnn.com/2018/03/10/us/california-v...,38.395445,-122.360173,Mass
1,Stoneman Douglas High School shooting,"Parkland, Florida",2/14/18,2018,"Nikolas J. Cruz, 19, heavily armed with an AR-...",17,14,31,School,Yes,...,A Florida pawn shop,semiautomatic rifle,AR-15,White,M,https://www.nytimes.com/2018/02/14/us/parkland...,https://www.nytimes.com/2018/02/15/us/nikolas-...,26.310079,-80.237270,Mass
2,Pennsylvania carwash shooting,"Melcroft, PA",1/28/18,2018,"Timothy O'Brien Smith, 28, wearing body armor ...",4,1,5,Other,TBD,...,TBD,semiautomatic rifle and semiautomatic handgun,NaN,White,M,http://www.wpxi.com/news/top-stories/family-me...,NaN,40.052018,-79.389202,Mass
3,Rancho Tehama shooting spree,"Rancho Tehama, CA",11/14/17,2017,"Kevin Janson Neal, 44, went on an approximatel...",5,10,15,Other,TBD,...,TBD,semiautomatic rifles,Two illegally modified rifles,White,M,https://www.nbcnews.com/news/us-news/californi...,NaN,39.993786,-122.471880,Spree
4,Texas First Baptist Church massacre,"Sutherland Springs, TX",11/5/17,2017,"Devin Patrick Kelley, a 26-year-old ex-US Air ...",26,20,46+,Religious,Yes,...,Purchased in April 2016 from an Academy Sports...,semiautomatic rifle,Ruger AR-556; Kelley also possessed semiautoma...,White,M,https://www.washingtonpost.com/news/morning-mi...,http://www.expressnews.com/news/local/article/...,29.274044,-98.055906,Mass

In [11]:
# recheck column header

complete_shootings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 22 columns):
case                         98 non-null object
location                     98 non-null object
date                         98 non-null object
year                         98 non-null int64
summary                      98 non-null object
fatalities                   98 non-null int64
injured                      98 non-null object
total_victims                98 non-null object
venue                        98 non-null object
prior_signs_mental_health    98 non-null object
mental_health                87 non-null object
weapons_obtained_legally     98 non-null object
where_obtained               86 non-null object
type_weapon                  98 non-null object
weapon_details               91 non-null object
race                         96 non-null object
gender                       98 non-null object
sources                      98 non-null object
mental_health_sources        76 non-null object
latitude                     98 non-null float64
longitude                    98 non-null float64
shooting_type                98 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 16.9+ KB

In [12]:
#complete_shootings_df.to_csv("Cleaned_Shooting.csv", index = False)

# Database Creation

In [36]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float

In [14]:
# Create an engine to a SQLite database file called `shootings.sqlite`
engine = create_engine("sqlite:///shootings.sqlite")

In [15]:
# Create a session
session = Session(engine)

In [16]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [17]:
#append data from csv created df to correct classes(tables)
complete_shootings_df.to_sql('shootings', engine, if_exists='append', index=False)

In [18]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)
# Collect the names of tables within the database
inspector.get_table_names()

['shootings']

In [19]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('shootings')
for column in columns:
    print(column["name"], column["type"])

case TEXT
location TEXT
date TEXT
year BIGINT
summary TEXT
fatalities BIGINT
injured TEXT
total_victims TEXT
venue TEXT
prior_signs_mental_health TEXT
mental_health TEXT
weapons_obtained_legally TEXT
where_obtained TEXT
type_weapon TEXT
weapon_details TEXT
race TEXT
gender TEXT
sources TEXT
mental_health_sources TEXT
latitude FLOAT
longitude FLOAT
shooting_type TEXT

In [21]:
Base = declarative_base(engine)

In [22]:
class Shootings(Base):
      __tablename__ = 'shootings'
      __table_args__ = {'autoload': True}

In [25]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [26]:
Base.classes.keys()

['shootings']

In [30]:
shooting_data = Base.classes.shootings

In [71]:
session.query(func.count(shooting_data.case)).group_by(shooting_data.year).all()
#session.query(func.sum(shooting_data.fatalities)).group_by(shooting_data.year)
#.filter(shooting_data.prior_signs_mental_health == "Yes")
#.filter(shooting_data.prior_signs_mental_health == "No")
#.filter(shooting_data.weapons_obtained_legally == 'Yes')
#.filter(shooting_data.weapons_obtained_legally == 'No')

[(1),
 (2),
 (1),
 (1),
 (1),
 (2),
 (1),
 (3),
 (2),
 (4),
 (1),
 (1),
 (1),
 (2),
 (3),
 (5),
 (1),
 (1),
 (1),
 (1),
 (2),
 (3),
 (4),
 (3),
 (4),
 (1),
 (3),
 (7),
 (5),
 (4),
 (7),
 (6),
 (11),
 (3)]

In [70]:
session.query(shooting_data.year).group_by(shooting_data.year).all()

[(1982),
 (1984),
 (1986),
 (1987),
 (1988),
 (1989),
 (1990),
 (1991),
 (1992),
 (1993),
 (1994),
 (1995),
 (1996),
 (1997),
 (1998),
 (1999),
 (2000),
 (2001),
 (2003),
 (2004),
 (2005),
 (2006),
 (2007),
 (2008),
 (2009),
 (2010),
 (2011),
 (2012),
 (2013),
 (2014),
 (2015),
 (2016),
 (2017),
 (2018)]

In [79]:
data = session.query(func.count(shooting_data.case).label('case_count'), shooting_data.year, func.sum(shooting_data.fatalities).label('fatalities') ).group_by(shooting_data.year).all()

In [111]:
data = session.query(func.count(shooting_data.case).label('case_count'), shooting_data.year, func.sum(shooting_data.fatalities).label('fatalities') ).group_by(shooting_data.year).all()
results = []
for row in data:
    data_dict = {}
    data_dict['year']= row.year
    data_dict['case_count'] = row.case_count
    data_dict['total_fatalities'] = row.fatalities
    results.append(data_dict)

In [112]:
results

[{'case_count': 1, 'total_fatalities': 8, 'year': 1982},
 {'case_count': 2, 'total_fatalities': 28, 'year': 1984},
 {'case_count': 1, 'total_fatalities': 15, 'year': 1986},
 {'case_count': 1, 'total_fatalities': 6, 'year': 1987},
 {'case_count': 1, 'total_fatalities': 7, 'year': 1988},
 {'case_count': 2, 'total_fatalities': 15, 'year': 1989},
 {'case_count': 1, 'total_fatalities': 10, 'year': 1990},
 {'case_count': 3, 'total_fatalities': 35, 'year': 1991},
 {'case_count': 2, 'total_fatalities': 9, 'year': 1992},
 {'case_count': 4, 'total_fatalities': 23, 'year': 1993},
 {'case_count': 1, 'total_fatalities': 5, 'year': 1994},
 {'case_count': 1, 'total_fatalities': 6, 'year': 1995},
 {'case_count': 1, 'total_fatalities': 6, 'year': 1996},
 {'case_count': 2, 'total_fatalities': 9, 'year': 1997},
 {'case_count': 3, 'total_fatalities': 14, 'year': 1998},
 {'case_count': 5, 'total_fatalities': 42, 'year': 1999},
 {'case_count': 1, 'total_fatalities': 7, 'year': 2000},
 {'case_count': 1, 'total_fatalities': 5, 'year': 2001},
 {'case_count': 1, 'total_fatalities': 7, 'year': 2003},
 {'case_count': 1, 'total_fatalities': 5, 'year': 2004},
 {'case_count': 2, 'total_fatalities': 17, 'year': 2005},
 {'case_count': 3, 'total_fatalities': 21, 'year': 2006},
 {'case_count': 4, 'total_fatalities': 53, 'year': 2007},
 {'case_count': 3, 'total_fatalities': 17, 'year': 2008},
 {'case_count': 4, 'total_fatalities': 39, 'year': 2009},
 {'case_count': 1, 'total_fatalities': 9, 'year': 2010},
 {'case_count': 3, 'total_fatalities': 19, 'year': 2011},
 {'case_count': 7, 'total_fatalities': 71, 'year': 2012},
 {'case_count': 5, 'total_fatalities': 35, 'year': 2013},
 {'case_count': 4, 'total_fatalities': 18, 'year': 2014},
 {'case_count': 7, 'total_fatalities': 46, 'year': 2015},
 {'case_count': 6, 'total_fatalities': 71, 'year': 2016},
 {'case_count': 11, 'total_fatalities': 117, 'year': 2017},
 {'case_count': 3, 'total_fatalities': 24, 'year': 2018}]